/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/mix-manifest.json
/storage/*.key
/vendor
.*
composer.lock
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
