// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import '~@mdi/font/css/materialdesignicons.min.css';

// Variables
@import 'variables';

//Material
@import '~vuetify/dist/vuetify.min.css';

#app {
    .v-main {
        padding: initial;

        h1 {
            display: inline-block;
            width: 100%;
            text-align: right;
            font-weight: 300;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .container {
            position: relative;
            padding-top: 12px;
            padding-bottom: 80px;
            min-height: 100vh;

            .full-width {
                width: 100%;
            }

            .form-wrapper {
                width: 100%;
                max-width: 320px;
                margin: 0 auto;
            }
        }
    }
}
