// Fonts
@import '~@mdi/font/css/materialdesignicons.min.css';

html {
    font-size: 18px !important;
}

#app {
    .full-width {
        width: 100%;
    }

    .v-application{
        font-family: "Open Sans", sans-serif;
    }

    .v-main {
        padding: initial;

        h1 {
            display: inline-block;
            width: 100%;
            text-align: right;
            font-weight: 300;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .container {
            position: relative;
            padding-top: 12px;
            padding-bottom: 80px;
            min-height: 100vh;
            max-width: 768px;

            .form-wrapper {
                width: 100%;
                max-width: 320px;
                margin: 0 auto;
            }
        }
    }
}
