// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import '~@mdi/font/css/materialdesignicons.min.css';

// Variables
@import 'variables';

//Material
@import '~vuetify/dist/vuetify.min.css';

#app {
    .v-navigation-drawer {
        overflow: visible;

        .sidebar-controll-button {
            top: 0;
            right: -6em;
            margin: 12px;
        }
    }

    .v-content {
        padding: initial;

        h1, h2 {
            text-align: right;
            font-weight: 300;
        }

        .container .form-wrapper {
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
        }
    }
}
